/* color */

$white: #fff;
$red: #d82c2e;
$black: #333;
$grey: #ddd;

/* border */

$border-red: 1px solid $red;
$border-white: 1px solid $white;

/* text transform*/

$font-bold: bold;
$txt-upper: uppercase;
$txt-deco: none;

/* size */

$size: 50px;